In [1]:
import numpy as np
import pandas as pd

In [2]:
SRC_DATA = 'data/mock.csv'

df = pd.read_csv(SRC_DATA)

df.head(3)

   id  number
0   0       1
1   1       2
2   2       3

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(20, 4)), columns=list('ABCD'))

In [3]:
df.head()

    A   B   C   D
0   6  41  82  91
1  34  87  94  84
2  78  72  67   9
3  87  14  90  40
4  25  79  29  17