In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Dummy data.csv')

In [3]:
df.loc[:, 'new_number'] = df.loc[:, 'number'] + 1
df.drop(['number'], inplace=True, axis=1)
df.head()

   id  new_number
0   0           2
1   1           3
2   2           4
3   3           5
4   4           6

In [4]:
df.to_csv('submission.csv', index=False)

In [5]:
results_df = pd.read_csv('submission.csv')
results_df.head()

   id  new_number
0   0           2
1   1           3
2   2           4
3   3           5
4   4           6