# Approach 1
## Direct Pandas Manipulation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Dummy data.csv')

In [3]:
df.loc[:, 'new_number'] = df.loc[:, 'number'] + 1
df.drop(['number'], inplace=True, axis=1)
df.head()

   id  new_number
0   0           2
1   1           3
2   2           4
3   3           5
4   4           6

In [4]:
df.to_csv('submission.csv', index=False)

In [5]:
results_df = pd.read_csv('submission.csv')
results_df.head()

   id  new_number
0   0           2
1   1           3
2   2           4
3   3           5
4   4           6

# Approach 2
## Using SQL for Manipulation
CSV -> Pandas -> SQL DB -> Pandas -> CSV

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
df = pd.read_csv('data/Dummy data.csv')

In [7]:
sqlengine = create_engine('sqlite:///data/data.db')
df.to_sql('df', con=sqlengine, if_exists='replace', index=False)

In [11]:
sql_statement = '''
select id, (number + 1) as new_number 
from df
'''

df_new = pd.read_sql_query(sql_statement, con=sqlengine)
df_new.head()

   id  new_number
0   0           2
1   1           3
2   2           4
3   3           5
4   4           6

In [ ]:
df.to_csv('submission.csv', index=False)